<div class="home-container">
  <!-- navbar -->
  <nav class="navbar">
    <ul>
      <li><a routerLink="/home">Inicio</a></li>
      <li><a routerLink="/home">Información</a></li>
      <li><a routerLink="/home">Modelos</a></li>
      <li><a routerLink="/cotizar" class="cotizar-button">Cotizar</a></li>
    </ul>
  </nav>

  <div class="main-content">
    <div class="title-container">
      <h1>El auto de tus sueños te espera</h1>
    </div>
    <div class="content-image">
      <img src="/assets/images/orangevehicle.png" alt="Auto de tus sueños" />
    </div>
  </div>

  <footer class="footer">
    <div class="bank-logos">
      <img src="/assets/images/bcp.png" alt="banco1" />
      <img src="/assets/images/Interbank.png" alt="banco1" />
      <img src="/assets/images/bbva.png" alt="banco1" />
      <img src="/assets/images/Scotiabank.png" alt="banco1" />
    </div>
  </footer>
</div>
