.background-container {
  background: linear-gradient(to right top, #77c3fd, #67b8ff, #5dacff, #599fff, #5d91ff, #6a8eff, #768bfe, #8287fd, #908ffd, #9c98fc, #a8a1fc, #b3aafc);
  display: flex;
  height: 100vh;
  width: 100vw ;
}
table {
  width: 20%;
}
